#footer {
    background-color: rgba(18, 42, 28, 1);
    border-top: 1px solid rgba(33, 66, 41, 1);
    display: flex;
    padding: 101px 70px 0 101px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #footer .footer-container {
    width: 100%;
    max-width: 1168px;
  }
  
  #footer .footer-content {
    display: flex;
    gap: 20px;
  }
  
  #footer .company-info {
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  
  #footer .info-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: Jost, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 400;
  }
  
  #footer .company-description {
    color: rgba(255, 255, 255, 1);
    font-size: 19px;
    line-height: 29px;
    align-self: start;
  }
  
  #footer .copyright {
    color: rgba(0, 166, 128, 1);
    font-size: 13px;
    line-height: 1.7;
    align-self: flex-end;
    margin-top: 98px;
  }
  
  #footer .footer-links-section {
    width: 42%;
    margin-left: 20px;
  }
  
  #footer .links-container {
    display: flex;
    gap: 20px;
  }
  
  #footer .navigation-links {
    width: 42%;
  }
  
  #footer .footer-nav {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: Jost, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(0, 166, 128, 1);
    font-weight: 400;
    line-height: 1.7;
  }
  
  #footer .section-title {
    color: rgba(124, 170, 156, 1);
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  #footer .nav-link {
    color: rgba(0, 166, 128, 1);
    text-decoration: none;
    padding: 0;
    padding-bottom: 12px;
  }
  
  #footer .nav-link:first-of-type {
    margin-top: 25px;
  }
  
  #footer .nav-link-border {
    border-top: 1px solid rgba(33, 66, 41, 1);
    padding: 12px 0;
  }
  
  #footer .contact-info {
    width: 58%;
    margin-left: 20px;
  }
  
  #footer .contact-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Jost, -apple-system, Roboto, Helvetica, sans-serif;
    color: rgba(124, 170, 156, 1);
  }
  
  #footer .address-info {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 19px;
    font-style: normal;
  }
  
  #footer .contact-link {
    color: rgba(0, 166, 128, 1);
    text-decoration: none;
    word-wrap: break-word;
  }

  #footer .footer-copyright {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  #footer .copyright-text {
    font-family: Jost, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: rgba(0, 166, 128, 1);
    text-align: center;
  }
  
  #footer .iwd-logo{
    height: 60px;
    width: auto;
    display: block;
    cursor: pointer;
  }

  @media (max-width: 991px) {
    #footer {
      padding: 80px 20px 0 20px;
    }

    #footer .iwd-logo {
      height: 50px;
    }

    #footer .footer-container {
      max-width: 100%;
    }
  
    #footer .footer-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    #footer .company-info {
      width: 100%;
      margin-top: 40px;
    }
  
    #footer .info-wrapper {
      max-width: 100%;
    }
  
    #footer .company-description {
      max-width: 100%;
    }
  
    #footer .copyright {
      margin-top: 40px;
    }
  
    #footer .footer-links-section {
      width: 100%;
      margin-left: 0;
      margin-top: 40px;
    }
  
    #footer .links-container {
      flex-direction: column;
      gap: 0;
    }
  
    #footer .navigation-links {
      width: 100%;
    }
  
    #footer .footer-nav {
      margin-top: 25px;
    }
  
    #footer .nav-link-border {
      padding-right: 20px;
    }
  
    #footer .contact-info {
      width: 100%;
      margin-left: 0;
    }
  
    #footer .contact-wrapper {
      margin-top: 25px;
    }

  }
