

/* General Reset for Flexbox Containers */ 
#selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px; 
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
}

#selection-container .selection-header {
  margin-bottom: 39px;
}

/* Product Row Setup */
#selection-container .product-row {
  width: 100%;
}
#selection-container .process-home {
  margin-bottom: 80px;
}

#selection-container .product-row-inner {
  display: flex;
  flex-wrap: wrap; /* Allow for wrapping on small screens */
}

/* Product Card Styles */
#selection-container .product-card {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(231, 231, 231, 1);
  flex-grow: 1;
  padding-bottom: 20px;
  width: calc(25% - 20px); /* Adjust width to take into account the gap */
  display: flex;
  flex-direction: column;
}

#selection-container .product-card:last-child {
  border-right: 1px solid rgba(231, 231, 231, 1);
}

.product-image-wrapper {
  position: relative;
  overflow: hidden;
}

.product-image {
  display: block;
  width: 100%;
  height: clamp(127px, calc(127px + (82 - 127) * ((100vw - 768px) / (1440 - 768))), 323px);
  object-fit: cover;
}

.product-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3B5B4C; /* Green with transparency */
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.product-card:hover .product-image-wrapper::after {
  opacity: 0;
}

#selection-container .product-content {
  display: flex;
  flex-direction: column;
  padding: 18px 21px 0;
}

#selection-container .product-title {
  color: rgba(55, 55, 55, 1);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0 0 16px 0;
}

#selection-container .product-footer {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

#selection-container .product-description {
  color: rgba(71, 71, 71, 1);
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

#selection-container .arrow-icon {
  color: rgba(0, 166, 128, 1);
  font-size: 25px;
  line-height: 1;
  text-align: center;
  align-self: end;
}

/* Large Image Styles */
#selection-container .large-image-container {
  width: 50%;
}

#selection-container .large-image {
  aspect-ratio: 1.92;
  object-fit: contain;
  object-position: center;
  width: 100%;
  background-color: #fff;
  height: 100%;
}
@media (max-width: 1240px) {
  #selection-container .selection-header {
    padding: 0 20px;
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
  #selection-container .main-title {
      font-size: 40px;
  }

  #selection-container .selection-header {
    padding: 0 10px;
  }

  #selection-container .product-row-inner {
      flex-direction: column;
  }

  #selection-container .product-card {
      width: 100%;
  }

  #selection-container .arrow-icon {
      margin-top: 40px;
  }

  #selection-container .large-image-container {
      width: 100%;
  }

  #selection-container .large-image {
      max-width: 100%;
  }
}
